@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Google+Sans:opsz@17..18&family=Sekuya&display=swap");

html,
body {
	margin: 0;
	padding: 0;
}

.navigatie {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: #c1e2be;
}

.logo {
	font-family: "Averia Serif Libre";
	font-size: 2.4rem;
	color: black;
}

.logo span {
	color: #c76e00;
}
